<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hch.dao.UserDao">
    <insert id="insertUser" parameterType="com.hch.pojo.po.UserDO">
        INSERT INTO tbl_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uuid != null">uuid,</if>
            <if test="name != null">name,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="createdTime != null">created_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="name != null">#{name},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="createdTime != null">#{createdTime},</if>
        </trim>
    </insert>
</mapper>